<div class="container-celda">
  <button class="btn-celda" (click)="goCelda1()" *ngIf="celda1">1</button>
  <button class="btn-celda" (click)="goCelda1()" *ngIf="!celda1" [disabled]="true">1</button>
  <button class="btn-celda" (click)="goCelda2()" *ngIf="celda2">2</button>
  <button class="btn-celda" (click)="goCelda2()" *ngIf="!celda2" [disabled]="true">2</button>
  <button class="btn-celda" (click)="goCelda3()" *ngIf="celda3">3</button>
  <button class="btn-celda" (click)="goCelda3()" *ngIf="!celda3" [disabled]="true">3</button>
  <button class="btn-celda" (click)="goCelda4()" *ngIf="celda4">4</button>
  <button class="btn-celda" (click)="goCelda4()" *ngIf="!celda4" [disabled]="true">4</button>
  <button class="btn-celda" (click)="goCelda5()" *ngIf="celda5">5</button>
  <button class="btn-celda" (click)="goCelda5()" *ngIf="!celda5" [disabled]="true">5</button>
  <button class="btn-celda" (click)="goCelda6()" *ngIf="celda6">6</button>
  <button class="btn-celda" (click)="goCelda6()" *ngIf="!celda6" [disabled]="true">6</button>
  <button class="btn-celda" (click)="goCelda7()" *ngIf="celda7">7</button>
  <button class="btn-celda" (click)="goCelda7()" *ngIf="!celda7" [disabled]="true">7</button>
  <button class="btn-celda" (click)="goCelda8()" *ngIf="celda8">8</button>
  <button class="btn-celda" (click)="goCelda8()" *ngIf="!celda8" [disabled]="true">8</button>
  <button class="btn-celda" (click)="goCelda9()" *ngIf="celda9">9</button>
  <button class="btn-celda" (click)="goCelda9()" *ngIf="!celda9" [disabled]="true">9</button>
</div>
<div class="container-push">
  <label for="">Pulso: {{celdaPush}}</label>
</div>
