/* CUADRICULA CELDAS */

.container {
  display: flex;
  flex-direction: column;
}

.container-celda {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 380px;
  margin-top: 80px;
  /*border: 1px solid black;*/
}
.btn-celda {
  width: 100px;
  height: 100px;
  color: #18640b;
  font-size: 30px;
  margin: auto;
  margin-right: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #BFBFBF;
  box-shadow: 10px 10px 5px #aaaaaa;
}

@media(min-width: 320px) and (max-width: 767px) {
  .fixcontent{
    max-width: 320px;

  }

  .section__inputnote{
      margin-bottom: 0%;
  }

  /* CUADRICULA CELDAS */


  .container-celda {
    width: 280px;
    margin-top: 50px;
    /*border: 1px solid black;*/
  }
  .btn-celda {
    width: 70px;
    height: 70px;
    font-size: 28px;
  }

}
